streamlit 
google-generativeai
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain_google_genai
pdf2image
langchain_community
numpy 
pandas
Requests
poppler-utils
streamlit_lottie
streamlit-on-Hover-tabs
youtube-transcript-api
firebase_admin
